<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-5 col-md-6" data-aos="fade-right" data-aos-easing="ease-in-sine">
                        <div class="footer-item footer-about">
                            <div class="logo">
                                <a href="/index.html">
                                    <img src="/images/logo.png" alt="Logo">
                                </a>
                            </div>
                            <p><strong>像素部落(Pixel-Tribe)</strong> - 專為遊戲玩家打造的交流社群</p>

                            <p>本網站為學員專題實作，非商業營利用途。</p>
                            <div class="social">
                                <ul>
                                    <li class="GitHub"><a href="https://github.com/TommyHCY/TJA101_G3"><i
                                            class="bi bi-github"></i></a></li>
                                    <!--                                    <li class="twitter"><a href="#"><i class="bi bi-twitter"></i></a></li>-->
                                    <!--                                    <li class="youtube"><a href="#"><i class="bi bi-youtube"></i></a></li>-->
                                    <!--                                    <li class="instagram"><a href="#"><i class="bi bi-instagram"></i></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-delay="100">
                        <!--                        <div class="footer-item footer-menu">-->
                        <!--                            <h6>Home</h6>-->
                        <!--                            <ul>-->
                        <!--                                <li><a href="/forumindex.html" title="Home (Forum)">Home (Forum)</a></li>-->
                        <!--                                <li><a href="/forumindex.html" title="Home 2 (Community)">Home 2 (Community)</a></li>-->
                        <!--                                <li><a href="/index-3.html" title="Home 3 (Q&A)">Home 3 (Q&A)</a></li>-->
                        <!--                                <li><a href="/index-4.html" title="Home 4 (Support)">Home 4 (Support)</a></li>-->
                        <!--                                <li><a href="/index-5.html" title="Home 5 (Social)">Home 5 (Social)</a></li>-->
                        <!--                                <li><a href="/index-6.html" title="Home 6 (Timeline)">Home 6 (Timeline)</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                    </div>
                    <div class="col-lg-2" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-delay="200">
                        <div class="footer-item footer-menu">
                            <h6>Pixel-Tribe</h6>
                            <ul>
                                <li><a href="/about.html" title="關於我們">關於我們</a></li>
                                <li><a href="/users.html" title="問題回報">問題回報</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-delay="300">
                        <div class="footer-item footer-menu">
                            <h6>Contact Us</h6>
                            <div class="address">
                                <ul>
                                    <li>
                                        <p>Address</p>
                                        <strong>台北市中山區南京東路三段219號4F</strong>
                                    </li>
                                    <li>
                                        <p>Email</p>
                                        <strong>service@tibame.com</strong>
                                    </li>
                                    <li>
                                        <p>Contact</p>
                                        <strong>02 2712 0589</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom" data-aos="fade-right" data-aos-easing="linear">
        <div class="container">
            <div class="inner">
                <div class="copyright">© 2025 像素部落 by Java雲端服務開發技術養成班 - 第三組</div>
                <div class="menu">
                    <ul>
                        <li><a href="/terms.html" title="使用條款">使用條款</a></li>
                        <li><a href="/privacy.html" title="隱私權政策">隱私權政策</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>