<header class="vine-navbar fixed-top">
	<nav class="navbar navbar-expand-lg">
		<div class="container align-items-center">
			<div class="logo">
				<a class="navbar-brand" href="/index.html"> <img
					class="logo-dark" src="/images/logo.png" alt="Logo">
				</a>
			</div>
			<div class="offcanvas nav-offcanvas offcanvas-start" tabindex="-1"
				id="offcanvas_Header_01" aria-labelledby="offcanvas_Header_01">
				<div
					class="offcanvas-header flex-wrap border-bottom border-gray-200">
					<div class="offcanvas-title">
						<div class="d-flex align-items-center">
							<div class="avatar">
								<img class="avatar-img rounded-circle"
									src="../assets/img/avatar/1.jpg" alt="User">
							</div>
							<div class="col ps-3">
								<h6 class="mb-0">Abram Marvyn</h6>
								<span class="fs-xs fw-400">@abram_marvyn</span>
							</div>
						</div>
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
						data-bs-target="#offcanvas_Header_01" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">

					<!-- Nav Search START -->
					<div class="col-xl-5">
						<div
							class="nav mt-3 mt-lg-0 px-lg-4 flex-nowrap align-items-center">
							<div class="search-form nav-item w-100">
								<form class="rounded position-relative">
									<input class="ps-5 bg-opacity-10 border-0" type="search"
										placeholder="Search" aria-label="Search">
									<button
										class="btn bg-transparent px-3 position-absolute top-50 start-0 translate-middle-y"
										type="submit">
										<i class="bi bi-search fs-6 text-green pe-2"></i>
									</button>
								</form>
							</div>
						</div>
					</div>
					<!-- Nav Search END -->
					<ul class="navbar-nav">
						<li class="nav-item dropdown dropdown-hover"><a
							class="nav-link dropdown-toggle" href="#"
							data-bs-toggle="dropdown"> <i class="bi bi-newspaper me-2"></i>新聞
						</a>
							<ul class="dropdown-menu start">
								<li><a class="dropdown-item" href="../index.html">Home
										v1 (Forum) </a></li>
								<li><a class="dropdown-item" href="../index.html">Home
										v2 (Community)</a></li>
								<li><a class="dropdown-item" href="index-3.html">Home
										v3 (Q&A)</a></li>
								<li><a class="dropdown-item" href="index-4.html">Home
										v4 (Support)</a></li>
								<li><a class="dropdown-item" href="index-5.html">Home
										v5 (Social)</a></li>
								<li><a class="dropdown-item" href="index-6.html">Home
										v6 (Timeline)</a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link"
							href="/front-end/forumsys/forumindex.html"> <i
								class="bi bi-chat-dots me-2"></i>討論區
						</a></li>
						<li class="nav-item dropdown dropdown-hover"><a
							class="nav-link dropdown-toggle" href="#"
							data-bs-toggle="dropdown"> <i class="bi bi-shop me-2"></i>商城
						</a>
							<ul class="dropdown-menu start">
								<li><a class="dropdown-item" href="/front-end/shopsys/productindex.html">商城 </a></li>
								<li><a class="dropdown-item" href="../index.html">購物車</a></li>
								<li><a class="dropdown-item" href="index-3.html">我的訂單</a></li>
							</ul></li>

						<!-- 						<li class="nav-item dropdown mega-dropdown-md"><a -->
						<!-- 							id="MegaMenu" class="nav-link dropdown-toggle" href="#" -->
						<!-- 							data-bs-toggle="dropdown" aria-haspopup="true" -->
						<!-- 							aria-expanded="false"> <i class="bi bi-journals me-2"></i>Pages -->
						<!-- 						</a> Mega Menu -->
						<!-- 							<ul class="dropdown-menu" aria-labelledby="MegaMenu"> -->
						<!-- 								<li> -->
						<!-- 									<div class="row"> -->
						<!-- 										<div class="col-lg-3"> -->
						<!-- 											<div class="menu-column"> -->
						<!-- 												<h6 class="mega-menu-title">Discussion Posts</h6> -->
						<!-- 												<ul class="mega-dropdown-list"> -->
						<!-- 													<li><a href="discussion.html" class="dropdown-item">Discussion -->
						<!-- 															v1</a></li> -->
						<!-- 													<li><a href="discussion-2.html" class="dropdown-item">Discussion -->
						<!-- 															v2</a></li> -->
						<!-- 													<li><a href="discussion-3.html" class="dropdown-item">Discussion -->
						<!-- 															v3</a></li> -->
						<!-- 													<li><a href="discussion-4.html" class="dropdown-item">Discussion -->
						<!-- 															v4</a></li> -->
						<!-- 													<li><a href="discussion-5.html" class="dropdown-item">Discussion -->
						<!-- 															v5</a></li> -->
						<!-- 													<li><a href="discussion-6.html" class="dropdown-item">Discussion -->
						<!-- 															v6</a></li> -->
						<!-- 													<li><a href="discussion-7.html" class="dropdown-item">Discussion -->
						<!-- 															v7</a></li> -->
						<!-- 												</ul> -->
						<!-- 												<h6 class="mega-menu-title">Categories & Tags</h6> -->
						<!-- 												<ul class="mega-dropdown-list"> -->
						<!-- 													<li><a class="dropdown-item" href="categories.html">Categories -->
						<!-- 															v1</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="categories-2.html">Categories -->
						<!-- 															v2</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="tags.html">Tags</a></li> -->
						<!-- 												</ul> -->
						<!-- 											</div> -->
						<!-- 										</div> -->
						<!-- 										<div class="col-lg-3"> -->
						<!-- 											<div class="menu-column"> -->
						<!-- 												<h6 class="mega-menu-title">Users</h6> -->
						<!-- 												<ul class="mega-dropdown-list"> -->
						<!-- 													<li><a class="dropdown-item" href="users.html">Users</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="user-profile.html">User -->
						<!-- 															Profile</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="leaderboard.html">Leaderboard</a> -->
						<!-- 													</li> -->
						<!-- 												</ul> -->
						<!-- 												<h6 class="mega-menu-title">Pages</h6> -->
						<!-- 												<ul class="mega-dropdown-list"> -->
						<!-- 													<li><a class="dropdown-item" href="about.html">About</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="pricing.html">Pricing</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="privacy.html">Privacy -->
						<!-- 															Policy</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="contact.html">Contact</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="faq.html">FAQ</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="terms.html">Terms -->
						<!-- 															&amp; Condition</a></li> -->
						<!-- 												</ul> -->


						<!-- 											</div> -->
						<!-- 										</div> -->
						<!-- 										<div class="col-lg-3"> -->
						<!-- 											<div class="menu-column"> -->
						<!-- 												<h6 class="mega-menu-title">Dashboard</h6> -->
						<!-- 												<ul class="mega-dropdown-list"> -->
						<!-- 													<li><a class="dropdown-item" href="dash-overview.html">Dash -->
						<!-- 															Overview</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="dash-addpost.html">Dash -->
						<!-- 															Add Post</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="dash-posts.html">Dash -->
						<!-- 															Posts</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="dash-comments.html">Dash -->
						<!-- 															Comments</a></li> -->
						<!-- 													<li><a class="dropdown-item" -->
						<!-- 														href="dash-bookmarks.html">Dash Bookmarks</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="dash-messages.html">Dash -->
						<!-- 															Messages</a></li> -->
						<!-- 													<li><a class="dropdown-item" -->
						<!-- 														href="dash-notifications.html">Dash Notifications</a></li> -->
						<!-- 												</ul> -->
						<!-- 											</div> -->
						<!-- 										</div> -->
						<!-- 										<div class="col-lg-3"> -->
						<!-- 											<div class="menu-column"> -->
						<!-- 												<h6 class="mega-menu-title">Account</h6> -->
						<!-- 												<ul class="mega-dropdown-list"> -->
						<!-- 													<li><a class="dropdown-item" href="dash-settings.html">Dash -->
						<!-- 															Settings</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="dash-plans.html">Dash -->
						<!-- 															Plans</a></li> -->
						<!-- 													<li><a class="dropdown-item" -->
						<!-- 														href="dash-subscriptions.html">Dash Subscriptions</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="dash-invoice.html">Dash -->
						<!-- 															Invoice</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="login.html">Login</a></li> -->
						<!-- 													<li><a class="dropdown-item" href="register.html">Register</a></li> -->
						<!-- 													<li><a href="404.html" class="dropdown-item">404 -->
						<!-- 															Error</a></li> -->
						<!-- 												</ul> -->
						<!-- 											</div> -->
						<!-- 										</div> -->
						<!-- 									</div> -->
						<!-- 								</li> -->
						<!-- 							</ul></li> -->

					</ul>
				</div>
			</div>
			<div class="header-end d-flex justify-content-end">

				<!--  Add Post Start -->
				<div id="addPostStart" class="h-col h-plus-toggle">
					<a class="btn btn-mint rounded-circle" href="dash-addpost.html">
						<i class="bi bi-plus-lg"></i>
					</a>
				</div>
				<!-- Add Post END -->

				<!-- Translate dropdown START -->
				<!--                <div class="nav-item dropdown h-col d-none d-lg-block">-->
				<!--                    <a class="h-translate-icon h-icon" href="#" id="languageDropdown" role="button"-->
				<!--                       data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown"-->
				<!--                       aria-expanded="false">-->
				<!--                        <i class="bi bi-translate"> </i>-->
				<!--                    </a>-->
				<!--                    <ul class="dropdown-menu dropdown-animation dropdown-menu-end min-w-auto mt-2"-->
				<!--                        aria-labelledby="languageDropdown">-->
				<!--                        <li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="assets/img/flags/uk.svg"-->
				<!--                                                                        alt="">English</a></li>-->
				<!--                        <li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="assets/img/flags/sp.svg"-->
				<!--                                                                        alt="">Español</a></li>-->
				<!--                        <li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="assets/img/flags/gr.svg"-->
				<!--                                                                        alt="">Deutsch</a></li>-->
				<!--                    </ul>-->
				<!--                </div>-->
				<!-- Translate dropdown END -->

				<!-- Messages dropdown START -->
				<!-- 				<div class="nav-item dropdown h-col d-none d-lg-block"> -->

				<!-- 					<a class="h-message-icon h-icon" href="#header_message_bar" -->
				<!-- 						data-bs-toggle="dropdown" aria-expanded="false" -->
				<!-- 						data-bs-auto-close="outside"> <i class="bi bi-chat-left-text"></i> -->
				<!-- 						<sup>4</sup> -->
				<!-- 					</a> -->

				<!-- Notification dropdown menu START -->
				<!-- 					<div -->
				<!-- 						class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg border-0"> -->
				<!-- 						<div class="card bg-transparent border-0"> -->
				<!-- 							<div -->
				<!-- 								class="card-header bg-transparent py-4 d-flex justify-content-between align-items-center"> -->
				<!-- 								<h6 class="m-0"> -->
				<!-- 									Messages <span -->
				<!-- 										class="badge bg-danger bg-opacity-10 text-danger ms-2">4 -->
				<!-- 										new</span> -->
				<!-- 								</h6> -->
				<!-- 								<a class="small" href="#">Clear all</a> -->
				<!-- 							</div> -->
				<!-- 							<div data-simplebar class="card-body p-0 dropdown-body"> -->
				<!-- 								<ul class="list-group list-unstyled list-group-flush"> -->

				<!-- 									<li><a href="#" -->
				<!-- 										class="list-group-item-action border-0 d-flex p-3"> -->
				<!-- 											<div class="me-3"> -->
				<!-- 												<div class="avatar avatar-md"> -->
				<!-- 													<img class="avatar-img rounded-circle" -->
				<!-- 														src="../assets/img/avatar/17.jpg" alt="avatar"> -->
				<!-- 												</div> -->
				<!-- 											</div> -->
				<!-- 											<div> -->
				<!-- 												<h6 class="mb-1">Oliver Carpenter</h6> -->
				<!-- 												<p class="small m-0">Lorem ipsum dolor sit amet, -->
				<!-- 													conse...</p> -->
				<!-- 												<small class="text-muted fs-xs">5 min ago</small> -->
				<!-- 											</div> -->
				<!-- 									</a></li> -->
				<!-- 									Notif item -->

				<!-- 									<li><a href="#" -->
				<!-- 										class="list-group-item-action border-0 d-flex p-3"> -->
				<!-- 											<div class="me-3"> -->
				<!-- 												<div class="avatar avatar-md"> -->
				<!-- 													<img class="avatar-img rounded-circle" -->
				<!-- 														src="../assets/img/avatar/16.jpg" alt="avatar"> -->
				<!-- 												</div> -->
				<!-- 											</div> -->
				<!-- 											<div> -->
				<!-- 												<h6 class="mb-1">Samantha Hall</h6> -->
				<!-- 												<p class="small m-0">Lorem ipsum dolor sit amet, -->
				<!-- 													conse...</p> -->
				<!-- 												<small class="text-muted fs-xs">10 min ago</small> -->
				<!-- 											</div> -->
				<!-- 									</a></li> -->
				<!-- 									Notif item -->

				<!-- 									<li><a href="#" -->
				<!-- 										class="list-group-item-action border-0 d-flex p-3"> -->
				<!-- 											<div class="me-3"> -->
				<!-- 												<div class="avatar avatar-md"> -->
				<!-- 													<img class="avatar-img rounded-circle" -->
				<!-- 														src="../assets/img/avatar/15.jpg" alt="avatar"> -->
				<!-- 												</div> -->
				<!-- 											</div> -->
				<!-- 											<div> -->
				<!-- 												<h6 class="mb-1">Jorge Dean</h6> -->
				<!-- 												<p class="small m-0">Lorem ipsum dolor sit amet, -->
				<!-- 													conse...</p> -->
				<!-- 												<small class="text-muted fs-xs">14 min ago</small> -->
				<!-- 											</div> -->
				<!-- 									</a></li> -->
				<!-- 									Notif item -->

				<!-- 									<li><a href="#" -->
				<!-- 										class="list-group-item-action border-0 d-flex p-3"> -->
				<!-- 											<div class="me-3"> -->
				<!-- 												<div class="avatar avatar-md"> -->
				<!-- 													<img class="avatar-img rounded-circle" -->
				<!-- 														src="../assets/img/avatar/14.jpg" alt="avatar"> -->
				<!-- 												</div> -->
				<!-- 											</div> -->
				<!-- 											<div> -->
				<!-- 												<h6 class="mb-1">Kathleen Murray</h6> -->
				<!-- 												<p class="small m-0">Lorem ipsum dolor sit amet, -->
				<!-- 													conse...</p> -->
				<!-- 												<small class="text-muted fs-xs">1 hr ago</small> -->
				<!-- 											</div> -->
				<!-- 									</a></li> -->
				<!-- 									Notif item -->

				<!-- 									<li><a href="#" -->
				<!-- 										class="list-group-item-action border-0 d-flex p-3"> -->
				<!-- 											<div class="me-3"> -->
				<!-- 												<div class="avatar avatar-md"> -->
				<!-- 													<img class="avatar-img rounded-circle" -->
				<!-- 														src="../assets/img/avatar/13.jpg" alt="avatar"> -->
				<!-- 												</div> -->
				<!-- 											</div> -->
				<!-- 											<div> -->
				<!-- 												<h6 class="mb-1">Timothy Spencer</h6> -->
				<!-- 												<p class="small m-0">Lorem ipsum dolor sit amet, -->
				<!-- 													conse...</p> -->
				<!-- 												<small class="text-muted fs-xs">3 hr ago</small> -->
				<!-- 											</div> -->
				<!-- 									</a></li> -->
				<!-- 									Notif item -->

				<!-- 									<li><a href="#" -->
				<!-- 										class="list-group-item-action border-0 d-flex p-3"> -->
				<!-- 											<div class="me-3"> -->
				<!-- 												<div class="avatar avatar-md"> -->
				<!-- 													<img class="avatar-img rounded-circle" -->
				<!-- 														src="../assets/img/avatar/12.jpg" alt="avatar"> -->
				<!-- 												</div> -->
				<!-- 											</div> -->
				<!-- 											<div> -->
				<!-- 												<h6 class="mb-1">Stacey Long</h6> -->
				<!-- 												<p class="small m-0">Lorem ipsum dolor sit amet, -->
				<!-- 													conse...</p> -->
				<!-- 												<small class="text-muted fs-xs">5 hr ago</small> -->
				<!-- 											</div> -->
				<!-- 									</a></li> -->
				<!-- 									Notif item -->

				<!-- 								</ul> -->
				<!-- 							</div> -->
				<!-- 							Button -->
				<!-- 							<div -->
				<!-- 								class="card-footer bg-transparent border-0 py-3 text-center position-relative"> -->
				<!-- 								<a href="#" class="stretched-link">See all incoming activity</a> -->
				<!-- 							</div> -->
				<!-- 						</div> -->
				<!-- 					</div> -->
				<!-- 					Notification dropdown menu END -->
				<!-- 				</div> -->
				<!-- Messages dropdown END -->

				<!-- Notification dropdown START -->
				<!-- 				<div class="nav-item dropdown h-col d-none d-lg-block"> -->

				<!-- 					<a class="h-notification-icon h-icon" -->
				<!-- 						href="#header_notification_bar" data-bs-toggle="dropdown" -->
				<!-- 						aria-expanded="false" data-bs-auto-close="outside"> <i -->
				<!-- 						class="bi bi-bell"></i> <sup>10</sup> -->
				<!-- 					</a> -->

				<!-- Notification dropdown menu START -->
				<div
					class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg border-0">
					<div class="card bg-transparent border-0">
						<div
							class="card-header bg-transparent py-4 d-flex justify-content-between align-items-center">
							<h6 class="m-0">
								Notifications <span
									class="badge bg-danger bg-opacity-10 text-danger ms-2">10
									new</span>
							</h6>
							<a class="small" href="#">Clear all</a>
						</div>
						<div data-simplebar class="card-body p-0 dropdown-body">
							<ul class="list-group list-unstyled list-group-flush">

								<li><a href="#"
									class="list-group-item-action border-0 d-flex p-3">
										<div class="me-3">
											<div class="avatar avatar-md">
												<img class="avatar-img rounded-circle"
													src="../assets/img/avatar/2.jpg" alt="avatar">
											</div>
										</div>
										<div>
											<h6 class="mb-1">Adaline added a new comment</h6>
											<p class="small m-0">Quidem consequuntur modi atque..</p>
											<small class="text-muted fs-xs">5 min ago</small>
										</div>
								</a></li>
								<!-- Notif item -->

								<li><a href="#"
									class="list-group-item-action border-0 d-flex p-3">
										<div class="me-3">
											<div class="avatar avatar-md">
												<img class="avatar-img rounded-circle"
													src="../assets/img/avatar/3.jpg" alt="avatar">
											</div>
										</div>
										<div>
											<h6 class="mb-1">Buster posted a Post</h6>
											<p class="small m-0">Quidem consequuntur modi atque..</p>
											<small class="text-muted fs-xs">10 min ago</small>
										</div>
								</a></li>
								<!-- Notif item -->

								<li><a href="#"
									class="list-group-item-action border-0 d-flex p-3">
										<div class="me-3">
											<div class="avatar avatar-md">
												<img class="avatar-img rounded-circle"
													src="../assets/img/avatar/4.jpg" alt="avatar">
											</div>
										</div>
										<div>
											<h6 class="mb-1">Louisa replied to your Comment</h6>
											<p class="small m-0">Quidem consequuntur modi atque..</p>
											<small class="text-muted fs-xs">15 min ago</small>
										</div>
								</a></li>
								<!-- Notif item -->

								<li><a href="#"
									class="list-group-item-action border-0 d-flex p-3">
										<div class="me-3">
											<div class="avatar avatar-md">
												<img class="avatar-img rounded-circle"
													src="../assets/img/avatar/5.jpg" alt="avatar">
											</div>
										</div>
										<div>
											<h6 class="mb-1">Damon shared to your Post</h6>
											<p class="small m-0">Quidem consequuntur modi atque..</p>
											<small class="text-muted fs-xs">20 min ago</small>
										</div>
								</a></li>
								<!-- Notif item -->

								<li><a href="#"
									class="list-group-item-action border-0 d-flex p-3">
										<div class="me-3">
											<div class="avatar avatar-md">
												<img class="avatar-img rounded-circle"
													src="../assets/img/avatar/6.jpg" alt="avatar">
											</div>
										</div>
										<div>
											<h6 class="mb-1">Charlene bookmarked your Post</h6>
											<p class="small m-0">Quidem consequuntur modi atque..</p>
											<small class="text-muted fs-xs">30 min ago</small>
										</div>
								</a></li>
								<!-- Notif item -->

								<li><a href="#"
									class="list-group-item-action border-0 d-flex p-3">
										<div class="me-3">
											<div class="avatar avatar-md">
												<img class="avatar-img rounded-circle"
													src="../assets/img/avatar/7.jpg" alt="avatar">
											</div>
										</div>
										<div>
											<h6 class="mb-1">Rafael commented on your Post</h6>
											<p class="small m-0">Quidem consequuntur modi atque..</p>
											<small class="text-muted fs-xs">1 hr ago</small>
										</div>
								</a></li>
								<!-- Notif item -->

							</ul>
						</div>
						<!-- Button -->
						<div
							class="card-footer bg-transparent border-0 py-3 text-center position-relative">
							<a href="#" class="stretched-link">See all incoming activity</a>
						</div>
					</div>
				</div>
				<!-- Notification dropdown menu END -->
			</div>
			<!-- Notification dropdown END -->
			<!-- Account 會員區-->
				<div id="header-member-area" class="nav-item ms-3 dropdown h-col">
					<a href="#" id="navbarShoppingCartDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"
						data-bs-dropdown-animation>
						<div class="d-flex">
							<img id="headerAvatar"
								class="avatar-sm avatar-img rounded-circle"
								src="/images/memberAvatar/mem${id}" alt="Image Description">
							<div class="profile-text d-none d-sm-block">
								<div class="profile-head text-muted">Hello!</div>
								<div class="text-nowrap" id="headerMemNickName">Abram
									Marvyn</div>
							</div>
						</div>
					</a>

					<div
						class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-2 shadow-lg border-0"
						aria-labelledby="navbarShoppingCartDropdown"
						style="min-width: 16rem;">
						<a class="d-flex align-items-center p-2" href="#">
							<div class="flex-grow-1 ms-3" id="memberInfo">
								<span class="d-block fw-semibold" id="listMemName"></span> <span
									class="d-block text-muted small" id="listMemEmail"></span>
							</div>
						</a>

						<div class="dropdown-divider my-3"></div>

						<a class="dropdown-item"
							href="/front-end/mem/MemberCenter.html?tab=profile"><i
							class="bi bi-person me-1"></i>個人資料</a> <a class="dropdown-item"
							href="/front-end/mem/MemberCenter.html?tab=orders"><i
							class="bi bi-receipt me-1"></i>消費紀錄</a> <a class="dropdown-item"
							href="/front-end/mem/MemberCenter.html?tab=coupons"><i
							class="bi bi-ticket me-1"></i>優惠券</a> <a class="dropdown-item"
							href="/front-end/mem/MemberCenter.html?tab=collections"><i
							class="bi bi-bookmark me-1"></i>關注討論區</a>


						<div class="dropdown-divider"></div>

						<a class="dropdown-item" href="#"> <span
							class="dropdown-item-icon"> <i class="bi-question-circle"></i>
						</span> Help
						</a> <a class="dropdown-item" id="logout-btn" href="#"> <span
							class="dropdown-item-icon"> <i class="bi-box-arrow-right"></i>
						</span> Log out
						</a>
					</div>
				</div>
			<!-- Account 訪客區 (未登入)-->
			<div id="header-guest-area" class="d-flex align-items-center"
				style="display: none;">
				<a href="/front-end/mem/MemberLogin.html"
					class="btn btn-outline-primary me-2" id="login">登入</a> <a
					href="/front-end/mem/MemberRegisterPage.html" class="btn btn-primary" id="signup">註冊</a>
			</div>
			<!-- End Account -->

			<!-- Mobile Toggle -->
			<div class="h-col h-toggler d-xl-none">
				<button class="navbar-toggler" type="button"
					data-bs-toggle="offcanvas" data-bs-target="#offcanvas_Header_01"
					aria-controls="offcanvas_Header_01">
					<span class="px-navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
		</div>
	</nav>
</header>
