<!DOCTYPE html>
<html lang="zh-Hant">
<head>
<meta charset="UTF-8">
<title>管理員登入</title>
</head>
<body>
	<h2>管理員登入</h2>
	<form id="loginForm">
		<label>帳號：<input type="text" id="admAccount" placeholder="請輸入帳號"></label><br> 
		<label>密碼：<input type="password" id="admPassword" placeholder="請輸入密碼"></label><br>
		<button type="submit" id="loginBtn">登入</button>
		<span id="result"></span>
	</form>

	<script>
   	 document.getElementById('loginBtn').addEventListener('click', function(e) {
        const admAccount = document.getElementById('admAccount').value.trim();
        const admPassword = document.getElementById('admPassword').value.trim();
        const result = document.getElementById('result');
		e.preventDefault(); //防止頁面自動刷新
		
        if (!admAccount && !admPassword) {
        	result.textContent = '老哥你至少填一個吧';
        	return;
        }else if(!admAccount) {
            result.textContent = '帳號不能為空';
            return;
        }else if(!admPassword) {
            result.textContent = '密碼不能為空';
            return;
        }
        // 通過檢查，才送到後端
        fetch('/api/login', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({admAccount, admPassword})
        })
        .then(res => res.json())
        .then(data => {
            if (!data.success) {
                result.textContent = data.message;
            } else {
                // 登入成功的行為
                alert('登入成功！');
                window.location.href = "/back-end/adm/admHomePage.html";
            }
        });
    });
    </script>
</body>
</html>
